#dayNight {
  float: right;
}

form {
  padding: 10px;
}

.dayMode {
  background-color: silver;
  color: black;
}

.dayMode > .container > form {
  background-color: lightblue;
  border: 3px solid darkgoldenrod;
}

.nightMode {
  background-color: black;
  color: white;
}

.nightMode > .container > form {
  background-color: darkblue;
  border: 3px solid yellow;
}

.error {
  color: red;
  margin-left: 30px;
  display: none;
}

.page-header {
  text-align: center;
}

.question {
  font-weight: bold;
  margin-top: 3px;
}

.button-box {
  text-align: center;
  margin-top: 10px;
}

.results {
  display: none;
  margin-top: 20px;
}

.dayMode > .container > .results {
  background-color: lightblue;
  border: 3px solid darkgoldenrod;
}

.nightMode > .container > .results {
  background-color: darkblue;
  border: 3px solid yellow;
}

.results > .col-lg-6 > img {
  height: 300px;
  width: 300px;
  float: left;
}

.results > .col-lg-6 > p {
  font-size: 50px;
  margin-top: 125px;
}