body {
  background-color: silver;
}

.error {
  color: red;
  margin-left: 30px;
  display: none;
}

.page-header {
  text-align: center;
}

.question {
  font-weight: bold;
  margin-top: 3px;
}

.button-box {
  text-align: center;
}

.results {
  display: none;
}

.results > .col-lg-6 > img {
  height: 300px;
  width: 300px;
  float: left;
}

.results > .col-lg-6 > p {
  font-size: 50px;
  margin-top: 125px;
}